@model EditFormSingleViewModel
@{ 
   string modalId = string.Format("modal-edit-{0}", Model.DisplayName.ToLower());
}
<div class="columns is-mobile mt-16">
   <div class="column is-3 has-text-weight-bold">@Model.DisplayName</div>
   <a class="column is-9 has-background-grey-lighter modal-trigger no-text-decoration" data-target="@modalId">@Model.DisplayValue</a>
</div>

<div class="modal" id="@modalId">
   <div class="modal-background"></div>
   <div class="modal-content">
      <div class="box">
         <form class="ajax-form" action="@Model.Url" method="@Model.Method">
            @Html.AntiForgeryToken()
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="PropertyName" value="@Model.DisplayName" />
            <div class="field">
               <label class="label">@Model.DisplayName</label>
               <div class="control">
                  <input class="input" type="text" name="@Model.DisplayName" value="@Model.DisplayValue">
               </div>
            </div>
            <div class="field is-grouped">
               <div class="control">
                  <button type="submit" class="button is-link">
                     <span>Save</span>
                     <span class="icon">
                        <i class="fas fa-save"></i>
                     </span>
                  </button>
               </div>
               <div class="control">
                  <button type="button" class="button cancel-button">Cancel</button>
               </div>
            </div>
         </form>
      </div>
   </div>
   <button type="button" class="modal-close is-large" aria-label="close"></button>
</div>