@model PriceModalViewModel

@{
   bool editing = Model.EditType == EditType.edit;
   string price = Model.Price > 0 && editing ? Model.Price.ToString() : string.Empty;
}
<div class="modal" id="@Model.ModalId">
   <div class="modal-background"></div>
   <div class="modal-content">
      <div class="box">
         <form class="ajax-form" asp-controller="price" asp-action="@(editing ? "edit" : "add")" method="post">

            @Html.HiddenFor(m => m.ProductId)
            @if (editing)
            {
               <input type="hidden" name="Id" value="@Model.PriceId" />
               @Html.HiddenFor(m => m.SizeId)
            }
            <div class="field has-addons">
               <p class="control">
                  <span class="select">
                     @if (editing)
                     {
                        @Html.DropDownListFor(m => m.SizeId, Model.SizesSelect, new { @disabled = "disabled" })
                     }
                     else
                     {
                        @Html.DropDownListFor(m => m.SizeId, Model.SizesSelect)
                     }
                  </span>
               </p>
               <p class="control">
                  <input class="input" type="number" id="Price" name="Price" placeholder="Amount of money" value="@price">
               </p>
            </div>
            <div class="field is-grouped">
               <button type="submit" class="button is-link">
                  <span>@(Model.EditType == EditType.create ? "Add" : "Save")</span>
                  @if (Model.EditType == EditType.create)
                  {
                     <span class="icon"><i class="fas fa-plus-circle"></i></span>
                  }
                  else
                  {
                     <span class="icon"><i class="fas fa-check"></i></span>
                  }
               </button>
               <div class="control">
                  <button type="button" class="button cancel-button">Cancel</button>
               </div>
            </div>
         </form>
      </div>
   </div>
   <button class="modal-close is-large" aria-label="close"></button>
</div>