@model RemoveModalViewModel
@{
   string url = Url.IsLocalUrl(Model.Url) ? Model.Url : Url.Action("index", "home");
}
<div class="modal" id="@Model.ModalId">
   <div class="modal-background"></div>
   <div class="modal-content">
      <div class="box">
         <form action="@url" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnurl" value="@Model.ReturnUrl" />
            <div class="section">
               <p class="has-text-centered">Remove @Model.Type <strong>@Model.Name</strong> ?</p>
            </div>
            <div class="field">
               <div class="buttons is-grouped is-centered">
                  <button type="submit" class="button is-danger">
                     <span>Yes</span>
                     <span class="icon"><i class="fas fa-check"></i></span>
                  </button>
                  <a class="button cancel-button">
                     <span>No</span>
                     <span class="icon"><i class="fas fa-times"></i></span>
                  </a>
               </div>
            </div>
         </form>
      </div>
   </div>
   <button class="modal-close is-large" aria-label="close"></button>
</div>