@model TitleWithRightActionsViewModel
<div class="level is-mobile level-is-shrinkable">
   <div class="level-left">
      <div class="level-item">
         <span class="has-text-weight-bold is-size-5 overflow-x w-full">@Model.Title</span>
      </div>
   </div>
   <div class="level-right">
      @if (!string.IsNullOrEmpty(Model.CreateUrl))
      {
         bool isModal = Model.CreateUrl.StartsWith("modal#");
         string modalTarget = isModal ? Model.CreateUrl.Substring(Model.CreateUrl.IndexOf("#")).Replace("#", "") : string.Empty;
         <div class="level-item">
            <a href="@(Url.IsLocalUrl(Model.CreateUrl) ? Model.CreateUrl : string.Empty)"
               class="@(isModal ? "modal-trigger" : string.Empty)"
               data-target="@(isModal ? modalTarget : string.Empty)">
               <span class="icon"><i class="fas fa-plus"></i></span>
            </a>
         </div>
      }
      @if (!string.IsNullOrEmpty(Model.EditUrl))
      {
         <div class="level-item">
            <a href="@(Url.IsLocalUrl(Model.EditUrl) ? Model.EditUrl : string.Empty)" >
               <span class="icon is-small is-right"><i class="fas fa-pen"></i></span>
            </a>
         </div>
      }
   </div>
</div>
