@model Pho84SnackMVC.Models.Product

@{
   ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
   <h4>Product</h4>
   <hr />
   <dl class="row">
      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Name)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Name)
      </dd>
      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Description)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Description)
      </dd>
   </dl>
</div>
<hr />
<h4>Pricing</h4>
<p><a asp-controller="product" asp-action="createPrice" asp-route-productId="@Model.Id">Create new price</a></p>
<table class="table table-bordered">
   <thead>
      <tr>
         <th>Id</th>
         <th>Short Name</th>
         <th>Long Name</th>
         <th>Price</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      @if (Model.PriceList.Count == 0)
      {
         <tr><td colspan="5" class="text-center">No pricing assigned</td></tr>
      }
      @foreach (var pricing in Model.PriceList)
      {
         <tr>
            <td>@pricing.Id</td>
            <td>@pricing.ShortName</td>
            <td>@pricing.LongName</td>
            <td>@pricing.Price</td>
            <td>
               @Html.ActionLink("Edit", "EditPrice", new { pricing.Id }) |
               @Html.ActionLink("Delete", "DeletePrice", new { pricing.Id })
            </td>
         </tr>
      }
   </tbody>
</table>
<div>
   @Html.ActionLink("Edit", "Edit", new { Model.Id }) |
   <a asp-action="Index">Back to List</a>
</div>
