@model Pho84SnackMVC.Models.Product
@{
   var availableSizes = await productRepository.Sizes();
}
<form class="section" asp-action="edit" asp-route-id="@Model.Id">
   @Html.HiddenFor(m => m.Id)

   <div class="field">
      <label class="label" asp-for="Name"></label>
      <div class="control">
         <input class="input" type="text" asp-for="Name">
      </div>
      <p class="help is-danger"><span asp-validation-for="Name"></span></p>
   </div>

   <div class="field">
      <label class="label" asp-for="Description"></label>
      <div class="control">
         <textarea class="textarea" rows="5" asp-for="Description"></textarea>
      </div>
      <p class="help is-danger"><span asp-validation-for="Description"></span></p>
   </div>

   <p class="label">@Html.DisplayNameFor(m => m.ProductSizes)</p>
   @for (int i = 0; i < availableSizes.Count; i++)
   {
      var size = availableSizes[i];
      bool isChecked = Model.ProductSizes.Any(p => p.Size.Id == size.Id);
      string isCheckedStr = isChecked ? "checked" : "";
      var selectedSize = Model.ProductSizes.SingleOrDefault(p => p.Size.Id == size.Id);
      string sizePrice = isChecked && selectedSize != null ? selectedSize.Price.ToString() : string.Empty;
      string switchId = string.Format("switch-size-id-{0}", size.Id);

      <div class="field has-addons">
         <p class="control">
            <label type="button" class="button @(isChecked ? "is-success" : "is-danger")" style="width: 64px;">
               <input type="checkbox" class="checkbox checkbox-all is-hidden" name="@(string.Format("ProductSizes[{0}].Size.ShortName", i))" value="@size.ShortName" onchange="onCheckboxChanged(this)" @isCheckedStr />
               <input type="checkbox" class="is-hidden" name="@(string.Format("ProductSizes[{0}].Size.LongName", i))" value="@size.LongName" @isCheckedStr />
               <input type="checkbox" class="is-hidden" name="@(string.Format("ProductSizes[{0}].Product.Id", i))" value="@Model.Id" @isCheckedStr />
               <input type="checkbox" class="is-hidden" name="@(string.Format("ProductSizes[{0}].Size.Id", i))" value="@size.Id" @isCheckedStr />
               @size.ShortName
            </label>
         </p>
         <p class="control">
            <input class="input price-input" type="number" name="@(string.Format("ProductSizes[{0}].Price", i))" placeholder="Amount of money" value="@sizePrice" @(!isChecked ? "disabled" : "")>
         </p>
         <p class="control">
            <button type="button" class="button is-static">€</button>
            <input type="hidden" name="ProductSizes[{0}].Currency" value="€" />
         </p>
      </div>
   }

   <div class="field is-horizontal">
      <div class="field-label">
         <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
         <div class="field">
            <div class="control">
               <div class="buttons">
                  <button type="submit" class="button is-primary">
                     <span class="icon is-small"><span class="oi" data-glyph="check"></span></span>
                     <span>Save</span>
                  </button>
                  <a class="button is-light" asp-action="details" asp-route-id="@Model.Id">Cancel</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>
