@model Pho84SnackMVC.Models.Category
@{
   ViewData["Edit"] = Url.Action("edit", "category", new { Id = Model.Id });
}
<h5 class="bold-text flow-text">@Model.Name</h5>
<div class="divider"></div>
<p class="">@Model.Description</p>
<div class="divider"></div>
<p class="bold-text">@Html.DisplayNameFor(m => m.Products)</p>
<div class="collection">
   @foreach (Product product in Model.Products)
   {
      <a class="collection-item" asp-action="details" asp-route-id="@product.Id">@product.Name</a>
   }
</div>

