@model Category

@{
   ViewData["Title"] = "Details";
   var editNameForm = new EditFormSingleViewModel(Model.Id, nameof(Model.Name), Model.Name, Url.Action("Patch", "Category", new { @id = Model.Id }), "text");
   var editDescriptionForm = new EditFormSingleViewModel(Model.Id, nameof(Model.Description), Model.Description, Url.Action("Patch", "Category", new { @id = Model.Id }), "text");
}

<h1 class="title">Details</h1>

<div class="mt-16 w-form">
   <partial name="_EditFormSinglePartial" model="editNameForm" />
   <partial name="_EditFormSinglePartial" model="editDescriptionForm" />
</div>

<div>

   <br />
   <h5>Products</h5>
   <table class="table table-bordered">
      <thead>
         <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         @if (Model.Products.Count == 0)
         {
            <tr><td colspan="4" class="text-center">No product assigned</td></tr>
         }
         @foreach (var product in Model.Products)
         {
            <tr>
               <td>@product.Id</td>
               <td>@product.Name</td>
               <td>@product.Description</td>
               <td>
                  <a asp-controller="product" asp-action="details" asp-route-id="@product.Id">Details</a> - <a asp-controller="product" asp-action="edit" asp-route-id="@product.Id">Edit</a>
               </td>
            </tr>
         }
      </tbody>
   </table>
</div>
<div>
   <a asp-action="Index">Back to List</a>
</div>